<div>
	<h3>Hi {{ user }}</h3>
	<p>Choose an answer for each of the questions and submit the test once done.</p>
	<p>Good Luck!</p>
	<form ng-submit="submit()">
	<div ng-repeat="question in questions">
		<p>{{$index + 1}}. {{question.question}}</p>
		
		<input type="radio" name="{{question._id}}"  ng-model="option.one"> {{ question.options[0] }}
		
		<input type="radio" name="{{question._id}}"  ng-model="option.two"> {{ question.options[1] }}
		
		<input type="radio" name="{{question._id}}"  ng-model="option.three"> {{ question.options[2] }}
	
	</div>
	<input type="submit" name="submit">
	</form>
</div>
